.header {
    nav{
      display: flex;
      justify-content: space-between;
      padding: 30px;
      background-color: #1C2F55;
      // position: fixed;
      // top: 0;
      // left: 0;
      // width: 100%;
      // z-index: 1000;
    }
    ul{
      display: flex;
      font-size: 1.6rem;
      li{
        text-decoration: none;
        text-align: center;
        width: 140px;
      }
      a{
        color: #fff;
        text-decoration: none;
        span{
          display: block;
          font-size: 1.1rem;
          padding: 4px 0 0 0;
        }
      }
    }
}
